*,
*::after,
*::before{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
  overflow: hidden;
}

.wrapper{
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(185, 207, 135);
  
}

.container {
  width: 80%;
  padding: 20px;
  background-color: rgb(80, 87, 63);
  border-radius: 30px;

}
.header {
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
 
}
.header__title{
  text-align: center;
  
}
.nav {
 width: 100%;
}
.nav__row {
 max-width: 100%;
  display: flex;
  justify-content: space-around;
}
@media (max-width:768px){
  .nav__row {
    flex-direction: column;
    align-items: center;
    
  }
  .nav__item{
    margin-top: 10px;
  }
  .nav__item a{
    font-size: 14px;
  }
  .btn {
    width: 150px;
  }
}
.nav__item a{
  padding: 10px;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgb(80, 87, 63);
}
.nav__item:hover{
  background-color:  rgb(185, 207, 135);
}
.item1 {
}
.item2 {
}
.item3 {
}
li{
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn {
  --color: rgb(185, 207, 135);;
  --color2: rgb(10, 25, 30);
  width: 170px;
  height: 40px;
  background-color: #fff;
  border-radius: 6px;
  border: .3px solid var(--color);
  transition: .5s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  z-index: 1;
  font-weight: 300;
  font-size: 17px;
  font-family: 'Roboto', 'Segoe UI', sans-serif;
  text-transform: uppercase;
  color: var(--color);
 }
 
 .btn::after, .btn::before {
  content: '';
  display: block;
  height: 100%;
  width: 100%;
  transform: skew(90deg) translate(-50%, -50%);
  position: absolute;
  inset: 50%;
  left: 25%;
  z-index: -1;
  transition: .5s ease-out;
  background-color: var(--color);
 }
 
 .btn::before {
  top: -50%;
  left: -25%;
  transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::before {
  transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
 }
 
 .btn:hover::after {
  transform: skew(45deg) translate(-50%, -50%);
 }
 
 .btn:hover {
  color: var(--color2);
 }
 
 .btn:active {
  filter: brightness(.7);
  transform: scale(.98);
 }