*,
*::after,
*::before{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #ccc;
  overflow: hidden;
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 35px;
  max-width: 960px;
 
}
.card {
  width: 100%;
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #444;
  background-color: rgb(185, 207, 135);
}
.card__row {
  width: 770px;
  height: 250px;
  position: relative;
}
.card__left{
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50%;
  height: 100%;
}
.card__right{
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
  height: 100%;
}
@media (max-width:320px){
  /* .card__row {
    width: 295px;
    height: 750px;
  } */
  .card__left{
    top: 0px;
    left: 0px;
    
    height: calc((100vw - 140px) * 0.59);
    
  }
  .card__right{
    top: 30%;
    left: 0px;
    width: 100%;
    height: 70%;
   
  }
}
.image__photo{
  width: 100%;
  height: 100%;
}
.image__photo img {
  text-align: center;
  object-fit: cover;
  animation: turn 1s;
        width: 100%;
        height: 100%;
}
@keyframes turn{
  from {
    width: 0;
   height: 0;
   transform: rotate(0deg);
  }
  to {
    width: 100%;
   height: 100%;
   transform: rotate(360deg);
  }
 }
.animal__data{
  padding: 4px 15px;
  width: 100%;
  height: 100%;
  text-align: center;
}
.animal h2 {
  font-family: serif;
  font-size: 24px;
  line-height: 32px;
  font-style: italic;
  font-weight: bold;
}
.animal__name,
.animal__text,
.animal__age,
.animal__weight {
  padding-bottom: 10px;
}
.animal__text{
  text-align: left;
}
.animal__btn{
  color: #fff;
}
.animal__btn a{
  display: block;
  padding: 0.8em 1.7em;
  font-family: serif;
  font-size: 20px;
  font-weight: bold;
  border-radius: 5px;
}
.button {
  --color: rgb(185, 207, 135);
  background-color: rgb(80, 87, 63);
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
 }
 
 .button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
 }
 
 .button::before {
  top: -1em;
  left: -1em;
 }
 
 .button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button:hover {
  color: rgb(10, 25, 30);
 }
 .button a {
  color: #fff;
  transition: 0.5s;
 }
 .button:hover a {
  color: rgb(10, 25, 30);
 }
 .button:active {
  filter: brightness(.8);
 }
 
 
.back{
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}
.link a{
  font-size: 24px;
  color: rgb(80, 87, 63);
  padding: 10px 0;
}
@media (max-width: 320px){
  .link a{
    font-size: 18px;
  }
  .back{
    top: 10%;
    text-align: center;
  }
}
.link {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.link:focus,
.link:hover {
  color: #fff;
}

.link:focus:after,
.link:hover:after {
  width: 100%;
  left: 0%;
}

.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(80, 87, 63);;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
