*,
*::after,
*::before{
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
li{
  list-style-type: none;
}
html{
  height: 100%;
}
body{
  min-height: 100%;
  font-family: sans-serif;
  font-size: 18px;
  background-color: #ccc;
  overflow: hidden;
}
@media (max-width:320px){
  body{
    font-size: 16px;
  }
}
a{
  text-decoration: none;
}
.wrapper{
  max-width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 15%;
}
.card {
  max-width: 960px;
  padding: 32px 35px;
  border-radius: 20px;
  box-shadow: 0 0 20px 5px #444;
  background-color: rgb(185, 207, 135);
  }
.card__column{
  width: 50%;
}
@media (max-width:320px){
  .card {
    padding: 20px;
  }
}
table.card__row,
tr,td{
  text-align: center;
}
td{
  padding: 0 15px;
}
.animal__photowrapper{
  padding: 0;
  height: 100%;
}
.animal__photowrapper_none{
  display: none;
  padding: 0;
  height: 100%;
}
@media (max-width:320px){
  .animal__photowrapper{
   display: none;
 }
 .animal__photowrapper_none{
   display: block;
   width: 100%;
  }
}
.animal__photo {
  animation: turn 1s;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width:320px){
  .animal__photo{
    min-height: calc((100vw - 70px) * 0.465);
  }
}
@keyframes turn{
  from {
    width: 0;
   height: 0;
   transform: rotate(0deg);
  }
  to {
    width: 100%;
   height: 100%;
   transform: rotate(360deg);
  }
}
.animal__name {
  font-family: serif;
  font-size: 24px;
  line-height: 30px;
  font-style: italic;
  font-weight: bold;
}
.animal__name,
.animal__text,
.animal__age,
.animal__weight {
  padding-bottom: 12px;
}
@media (max-width: 320px){
  .animal__name,
  .animal__text,
  .animal__age,
  .animal__weight {
    padding-bottom: 3px;
  }
}
.animal__text{
  text-align: left;
}
.button {
  display: inline-block;
  --color: rgb(185, 207, 135);
  padding: 0.5em 1.7em;
  background-color: rgb(80, 87, 63);
  border-radius: .3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color:#fff;
  z-index: 1;
}
.button::before, .button::after {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}
 @media (max-width:320px){
  .button {
    font-size: 12px;
    padding: 0.5em 0.7em;
  }
 .button::before, .button::after {
  display: none;
 }
}
 .button::before {
  top: -1em;
  left: -1em;
 }
.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}
  .button:hover::before, .button:hover::after {
  height: 410px;
  width: 410px;
}
.button:hover {
  color: rgb(10, 25, 30);
}
 .button {
  color: #fff;
  transition: 0.5s;
}
 .button:hover{
  color: rgb(10, 25, 30);
}
 .button:active {
  filter: brightness(.8);
}
.back{
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.link a{
  color: rgb(80, 87, 63);
  padding: 10px 0;
}
@media (max-width: 320px){
  .back{
    top: 5px;
    text-align: center;
  }
}
.link {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}
@media (max-width: 320px){
  .link {
    font-size: 15px;
  }
}
.link:focus,
.link:hover {
  color: #fff;
}
.link:focus:after,
.link:hover:after {
  width: 100%;
  left: 0%;
}
.link:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: rgb(80, 87, 63);;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}
