*,
*::after,
*::before {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --root{
    --
} */

body {
  width: 100vw;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/fd0220.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  font-family: sans-serif;
  font-size: 20px;
}
ul {
  list-style: none;
}
@media (max-width: 1450px) {
  body {
    background-image: url(./img/1440pizza.jpg);
  }
}
@media (max-width: 1030px) {
  body {
    background-image: url(./img/1024pizza.jpg);
  }
}
@media (max-width: 768px) {
  body {
    background-image: url(./img/768-picca.jpg);
  }
}
@media (max-width: 550px) {
  body {
    height: 100%;
    padding: 20px 0;
  }
}
.wrapper {
  max-width: 85%;
  background-color: antiquewhite;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
  opacity: 0.9;
}

.orderForm {
  width: 100%;
}
.orderForm__yourChoice {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  .orderForm__yourChoice {
    flex-direction: column;
  }
}
.orderForm__composition {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 6fr 1fr;
  padding: 20px;
}

@media (max-width: 768px) {
  .orderForm__composition {
    width: 100%;
    grid-template-rows: 1fr 7fr 1fr;
    /* text-align: center; */
    padding: 0 20px;
  }
}
@media (max-width: 320px) {
  .orderForm__composition {
    grid-template-rows: 1fr 6fr 1fr;
  }
}
.orderForm__title {
  font-size: 2rem;
  text-align: center;
}
@media (max-width: 320px) {
  .orderForm__title {
    font-size: 1.5rem;
  }
}
.orderForm__ingredientsYourPizza {
  /* height: 80%; */
  padding: 10px 30px;
}
@media (max-width: 768px) {
  .orderForm__ingredientsYourPizza {
    text-align: left;
    padding: 5px 30px;
  }
}
.orderForm__price {
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 1.5px;
  padding: 10px;
}
@media (max-width: 768px) {
  .orderForm__price {
    padding: 0 10px;
  }
}
.orderForm__result {
  width: 50%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 7fr 1fr;
  padding: 20px;
}
@media (max-width: 768px) {
  .orderForm__result {
    width: 100%;
    padding: 10px;
  }
}
.orderForm__completionPercentage {
  height: 80%;
  background-image: url(./img/free-icon-pizza-5096622.png);
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  position: relative;
  padding: 30px;
  z-index: 0;
}
.orderForm__completionPercentage-first,
.orderForm__completionPercentage-second,
.orderForm__completionPercentage-third,
.orderForm__completionPercentage-fourth {
  background-color: antiquewhite;
}
.displayNone {
  opacity: 0;
}

.orderForm__submit {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: rgb(238, 185, 116);
  cursor: pointer;
  justify-self: center;
  transition: all 0.4s;
  /* outline: 2px solid red; */
}
.orderForm__submit:not([disabled]):hover {
  box-shadow: inset 0 0 0 4px #af2b07, inset 0 0 0 8px #fd8602,
    inset 0 0 0 12px #e1cd9d, inset 0 0 0 16px #4a2f3a;
  background: #272322;
  color: #fff;
}

.orderForm__ingredients {
}
.ingredients {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 768px) {
  .ingredients {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
}
.ingredients__item {
  display: flex;
  flex-direction: column;
  padding: 10px 0;
  gap: 20px;
}
@media (max-width: 768px) {
  .ingredients__item {
    width: 50%;
    gap: 10px;
  }
}
@media (max-width: 550px) {
  .ingredients__item {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .item1 {
    order: 1;
  }
  .item2 {
    order: 4;
  }
  .item3 {
    order: 3;
  }
  .item4 {
    order: 2;
  }
}

.ingredients__name {
  height: 30%;
  text-align: center;
  padding: 10px;
}
.ingredients__elements {
  padding-left: 20px;
}
li {
  line-height: 30px;
  padding: 5px 0;
  cursor: pointer;
}
.ingredients__elements li::before {
  content: '+';
  margin-right: 10px;
}
li.selected::before {
  content: '\2713';
}
.changeColor {
  color: #af2b07;
  font-weight: 500;
}
.cancelClick{
  pointer-events: none;
}

.base {
}
.ingredient1 {
}
.ingredient2 {
}
.sauce {
}
